* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Nunito", sans-serif;
}

/*_____SIDEBAR______*/

/* _____MAIN______ */

header {
	display: flex;
	justify-content: flex-end;
}

.unit-toggle {
	all: unset;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 16px;
	font-size: 16pt;
}

.unit-toggle .active {
	background-color: black;
	color: white;
}

.unit-toggle :not(.active) {
	background-color: white;
	color: black;
}

.unit-toggle div {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: grid;
	place-items: center;
}

h1 {
	margin-top: 48px;
}

.stats {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	row-gap: 24px;
	column-gap: 16px;
}

.stats article {
	background-color: white;
	border-radius: 16px;
	min-height: 220px;
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
	padding: 1rem;
}
